<header>
	<h1 class="main-header">Steam Buddy</h1>
</header>
<div class="row main-content">
<%= form_tag("/main", method: 'post', :id => "id1", class: "name-form") do %>
<% if @error %>
	<div class="form-group has-error has-feedback">
<% else %>
	<div class="form-group">
<% end %>
	<% if @error %>
		 <%= text_field_tag :user, @user_text, 
		 :size => "35 X 10", class: "form-control", :placeholder =>
		 "Paste a link to your Steam profile"
		 %>
	<% else %>
		<%= text_field_tag :user, nil, :placeholder =>
		 "Paste a link to your Steam profile", 
		 :size => "35 X 10", class: "form-control"
		 %>
	<% end %>
	<% if @error %>
		<p class="error"><%= @error %></p>
	<% end %>
</div>
	<%= submit_tag("Submit", class: "btn btn-default initial-form-btn") %>
<% end %>
<div id='profile_suggestion'>
	<a href='steam://url/SteamIDControlPage'><p class="steam-lookup">Look up your profile id (opens steam profile page - link at top)</p></a>
</div>
</div>
