<header>
	<h1 class="main-header">Steam Buddy</h1>
</header>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Steam Buddy</h4>
      </div>
      <div class="modal-body">
        <h3>What was life like before SteamBuddy?</h3>
        <ol>
        	<li>Look at all of the unplayed games in your steam library</li>
        	<li>Resolve to play a new game</li>
        	<li>Become overwhelmed by the sheer number of choices</li>
        	<li>Play Counter-Strike</li>
        	<li>Repeat above steps</li>
        </ol>
        <h3>How Steam Buddy works</h3>
        <ol>
        	<li>Put in the link to your Steam profile page</li>
        	<li>Select appropriate filters</li>
        	<li>Destroy indecision with the click of a button and get ONE game recommendation based on your criteria!</li>
        </ol>

        <h3>About Steam Buddy</h3>
        <p>Creators and maintainers of this project are Nicholas Damiano and Yusef Ouda</p>
        <p>In no way, shape, or form is this site affiliated with Valve or its partners</p>
        <p>For bug reports or suggestions on how to make this site better, please email us at steambuddy@yahoo.com</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row main-content">
<%= form_tag("/loading", method: 'post', :id => "id1", class: "name-form") do %>
<% if @error %>
	<div class="form-group has-error has-feedback">
<% else %>
	<div class="form-group">
<% end %>
	<% if @error %>
		 <%= text_field_tag :user, @user_text, 
		 :size => "35 X 10", class: "form-control input-lg name-text-field", :placeholder =>
		 "Paste a link to your Steam profile"
		 %>
	<% else %>
		<%= text_field_tag :user, nil, :placeholder =>
		 "Paste a link to your Steam profile", 
		 :size => "35 X 10", class: "form-control input-lg name-text-field"
		 %>
	<% end %>
	<% if @error %>
		<p class="error"><%= @error %></p>
	<% end %>
</div>
	<%= submit_tag("Submit", class: "btn btn-default initial-form-btn loading", id: "initial-form-btn") %>
<% end %>
<div id='profile_suggestion'>
<a href="#" role="button" class="btn popovers" id="popovers" data-toggle="popover" title="" data-content="1. <a href='steam://url/SteamIDControlPage'>Open Steam profile page</a>
</br>2. Copy the URL from the top of the Steam application
</br>3. If you do not see the link, right click anywhere and select 'Copy Page URL'" data-placement="bottom">What's my Steam Profile URL?</a>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.loading').on('click', function() {
			$(this).prop('value', 'Loading...');
		});
		$("[data-toggle=popover]").popover({html:true});
		$('.main-header').addClass('animated bounceInLeft');
		$('.main-content').addClass('animated bounceInRight');
	});
</script>

