<header>
	<h1 class="main-header">Steam Buddy</h1>
</header>

<%= form_tag("/main", method: 'post', :id => "id1") do %>
<div class="form-group">
	<% if @error %>
		 <%= text_field_tag :user, @user_text, 
		 :size => "35 X 10", class: "form-control"
		 %>
	<% else %>
		<%= text_field_tag :user, nil, :placeholder =>
		 "Paste a link to your Steam profile", 
		 :size => "35 X 10", class: "form-control"
		 %>
	<% end %>
</div>
	<%= submit_tag("Submit", class: "btn btn-default") %>
<% end %>
<% if @error %>
	<p><%= @error %></p>
<% end %>
<div id='profile_suggestion'>
	<a href='steam://url/SteamIDControlPage'>Look up your profile id (opens steam profile page - link at top)</a>
</div>
