<div class="row main-content">
<h2 class="game-title text"><%= @game.name %></h2>
<img src="<%= @game.header_image %>" class="game-header">
</div>
<div class="row main-content">
<h3 class="screenshots-title text">Screenshots</h3>
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% @screenshots.each_with_index do |ss, i| %>
    <% if i == 0 %>
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <% else %>
      <li data-target="#carousel" data-slide-to="<%=i%>"></li>
    <% end %>
  <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @screenshots.each_with_index do |ss, i| %>
      <% if i == 0 %>
      <div class='item active'>
      <img class= "ss" src="<%= ss.url %>" alt="<%=@game.name%>">
    </div>
      <% else %>
      <div class='item'>
      <img src="<%= ss.url %>" alt="<%=@game.name%>">
    </div>
    <% end %>
  <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
<div class="row main-content">
  <h3 class="statistics statistics-title text">Your statistics</h3>
  <p class="statistics text">You have played this game for <%=@playtime%> minute(s)</p>
</div>
<div class="row main-content">
  <h3 class="reselect-filters text">Didn't like this choice?</h3>
  <p class="reselect-filters text">You can reselect your filters!</p>
  <%= form_tag("/filters/#{@user.steam_id_64}", method: 'get', class: "reselect-filters") do %>
    <%= submit_tag("Reselect Filters", class: "btn btn-default reselect-form-btn loading") %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.loading').on('click', function() {
      $(this).prop('value', 'Loading...');
    });
  });
</script>