<header>
  <h1 class="main-header-show">You should play...</h1>
</header>
<div class="row main-content">
<h2 class="game-title text"><%= @game.name %></h2>
<img src="<%= @game.header_image %>" class="game-header">
</div>
<div class="row description-row">
<a href="steam://checksysreqs/<%= @game.steam_appid %>">
  <button class="btn btn-primary btn-lg show-btn">Can my PC run it?</button>
  </a>
  <button class="btn btn-success btn-lg about-btn show-btn" data-toggle="modal" data-target="#myModalGame">
    Learn more about this game
  </button>
  <a href="steam://run/<%= @game.steam_appid %>">
  <button class="btn btn-primary btn-lg show-btn">Launch this game!</button>
  </a>
  <div class="modal fade" id="myModalGame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= @game.name %></h4>
        </div>
        <div class="modal-body">
          <%=@description%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row main-content">
<h3 class="screenshots-title text">Screenshots</h3>
<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% @screenshots.each_with_index do |ss, i| %>
    <% if i == 0 %>
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <% else %>
      <li data-target="#carousel" data-slide-to="<%=i%>"></li>
    <% end %>
  <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @screenshots.each_with_index do |ss, i| %>
      <% if i == 0 %>
      <div class='item active'>
      <img class= "ss carousel-image" src="<%= ss.url %>" alt="<%=@game.name%>">
    </div>
      <% else %>
      <div class='item'>
      <img class="ss carousel-image" src="<%= ss.url %>" alt="<%=@game.name%>">
    </div>
    <% end %>
  <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
<div class="row main-content">
  <h3 class="statistics statistics-title text">Your statistics</h3>
  <p class="statistics text">You have played this game for <%=@playtime%> minute(s)</p>
</div>
<div class="row main-content">
  <h3 class="reselect-filters text">Didn't like this choice?</h3>
  <%= form_tag("/filters/#{@user.steam_id_64}", method: 'get', class: "reselect-filters") do %>
    <%= submit_tag("Reselect Filters", class: "btn btn-default reselect-form-btn loading", id: "reselect-form-btn") %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.loading').on('click', function() {
      $(this).prop('value', 'Loading...');
    });
  });
</script>