<%= form_tag("/filters/#{@id}", method: 'post', :id => "filter") do %>
	<div class="form-group">
		<%= label_tag(:filter, "Multiplayer Only") %>
		<%= check_box("filters", "multiplayer", {checked: false}, class: "form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag(:filter, "Select Genres", class: 'genre-label') %>
			<% @genres.each do |genre| %>
				<div class="genres checkbox">
					<%= check_box("genres", genre, {checked: false}) %>
					<%= label_tag(:genres, genre) %>
				</div>
			<% end %>
	</div>
	<%= submit_tag("Submit") %>
<% end %> 

<script type="text/javascript">
	$(document).ready(function() {
		$('.genres').slideUp();
		$('.genre-label').on('click', function() {
			$('.genres').slideToggle();
		});
	})
</script>