<div class="row main-content">
<div class="filter-form-container">
<% if flash[:alert] %>
	<p class="filter-error text"><%=flash[:alert]%></p>
<% end %>
<%= form_tag("/filters/#{@id}", method: 'post', :id => "filter") do %>
		<div class="checkbox">
			<%= check_box("filters", "multiplayer", {checked: false}) %>
			<%= label_tag(:filters, "Multiplayer Only", class: 'text') %>
		</div>
	<div class="form-group">
		<%= label_tag(:filter, "Select Genres +", class: 'genre-label text') %>
			<% @genres.each do |genre| %>
				<div class="genres checkbox">
					<%= check_box("genres", genre, {checked: false}) %>
					<%= label_tag(:genres, genre, class: 'text') %>
				</div>
			<% end %>
	</div>
	<div class="form-group">
		<%= label_tag(:filter, "Select friends +", class: 'friend-label text') %>
			<% @friends.each do |friend| %>
				<div class="friends checkbox">
					<%= check_box("friends", friend.steam_id_64, {checked: false}) %>
					<%= label_tag(:friends, friend.persona_name, class: 'text') %>
				</div>
			<% end %>
	</div>

	<%= submit_tag("Submit", class: "filter-submit loading") %>
<% end %> 
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.genres').slideUp();
		$('.genre-label').on('click', function() {
			$('.genres').slideToggle();
		});
		$('.friends').slideUp();
		$('.friend-label').on('click', function() {
			$('.friends').slideToggle();
		});
		$('.loading').on('click', function() {
			$(this).prop('value', 'Loading...');
		});
	});
</script>