<header>
	<h2 class="main-header-filter">Select your filters</h2>
</header>
<div class="filter-page-container">
<div class="row main-content main-filter">
<div class="filter-form-container">
<% if flash[:alert] %>
	<p class="filter-error text"><%=flash[:alert]%></p>
<% end %>
<%= form_tag("/filters/#{@id}", method: 'post', :id => "filter", :class => "filter-form-tag") do %>
		<div class="checkbox">
			<%= check_box("filters", "multiplayer", {checked: false}) %>
			<%= label_tag(:filters, "Must Include Multiplayer", class: 'text') %>
		</div>
		<div class="checkbox">
			<%= check_box("filters", "played", {checked: false}) %>
			<%= label_tag(:filters, "Must be a game I haven't played", class: 'text') %>
		<div class= "text-field form-group form-inline metacritic"> 
			<%= label_tag(:metacritic, "Metacritic score greater than", class: " metacritic-label text") %>
			<%= number_field_tag(:metacritic, 0, in: 0..99, class: "metacritic-field form-control")%>
		</div>
	<div class="form-group">
		<%= label_tag(:filter, "Select Genres +", class: 'genre-label text') %>
			<% @genres.each do |genre| %>
				<div class="genres checkbox">
					<%= check_box("genres", genre, {checked: false}) %>
					<%= label_tag(:genres, genre, class: 'text') %>
				</div>
			<% end %>
	</div>
 	<div class="form-group">
		<%= label_tag(:category, "Select Categories +", class: 'category-label text') %>
			<% @categories.each do |cat| %>
				<div class="categories checkbox">
					<%= check_box("categories", cat, {checked: false}) %>
					<%= label_tag(:categories, cat, class: 'text') %>
				</div>
			<% end %>
	</div>
	<div class="form-group">
		<%= label_tag(:filter, "Select Friends +", class: 'friend-label text') %>
			<% @friends.each do |friend| %>
			<% if friend.private %>
				<div class="friends checkbox">
					<%= check_box("friends", friend.steam_id_64, checked: false, disabled: 'disabled') %>
					<%= label_tag(:friends, friend.persona_name + " (Private profile)", class: 'text') %>
				</div>
			<% else %>
				<div class="friends checkbox">
					<%= check_box("friends", friend.steam_id_64, {checked: false}) %>
					<%= label_tag(:friends, friend.persona_name, class: 'text') %>
				</div>
			<% end %>
			<% end %>
	</div>

	<%= submit_tag("Submit", class: "filter-submit loading") %>
<% end %> 
</div>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.genres').slideUp();
		$('.genre-label').on('click', function() {
			$('.genres').slideToggle();
		});
		$('.categories').slideUp();
		$('.category-label').on('click', function() {
			$('.categories').slideToggle();
		});
		$('.friends').slideUp();
		$('.friend-label').on('click', function() {
			$('.friends').slideToggle();
		});
		$('.loading').on('click', function() {
			$(this).prop('value', 'Loading...');
		});
	});
</script>
